.headerWrapper {
  background-color: var(--bg-body);
  border-bottom: 1px solid var(--border-card);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  gap: 1rem;
}

.leftSection {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.rightSection{
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
    justify-content: space-between;
}
@media (max-width: 768px) {
  .leftSection {
    gap: 1rem;
  }
}